.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #1f3345;
}

.navbar li {
    float: left;
    border-right: 1px solid #1f3345
}

.navbar li a {
    display: block;
    color: #7a8692;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #e3e9f2;
    color: #7a90a5;
}

.navbar ul li:first-child{
    background-color: #7a90a5;
    color: white;
}

.navbar li:first-child a {
    color: white;
}