h4, h2, h6 {
    margin: 0;
}

.card{
    background-color: #bbccda;
    flex: 0 1 calc(23% - 3em);
    margin: 15px;
    border-radius: 5px;
}

.card-details{
    background-color: #eef2f7;
    padding: 10px;
}

.imgcard{
    width: 100%;
    height: 320px;
}

.card img{
    width: 100%;
    height: 100%;
}

.options{
    display: inline-block;
    margin: 5px;
}